.character {
  width: 75%;
  padding: 10px;
  background: gray;
  border-radius: 15px;
}

.loadBtn {
  font-family: cursive;
  width: 10rem;
  height: 35px;
  background: #4ab8e9;
  border-radius: 5px;
  border-color: #4ab8e9;
  font-size: larger;
  font-weight: 900;
  box-shadow: 1px 2px 3px #0b5ed7;
}

.loadBtn:hover {
  font-family: cursive;
  transition: 0.5s;
  width: 10rem;
  color: #c0f5ff;
  height: 35px;
  background: #0b5ed7;
  border-radius: 5px;
  border-color: #0b5ed7;
  font-size: larger;
  font-weight: 900;
  box-shadow: 1px 2px 3px #0b5ed7;
}

.alertContainer {
  width: fit-content;
  margin-left: 27%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.alertNotification {
  box-shadow: 0 0 1rem #410c11;
  border-radius: 25px;
  padding: 10px;
  background-color: #f8d7da;
  color: #842029;
}

.charContainer {
  width: 35%;
  background-color: gray;
  border-radius: 15px;
  margin: 15px;
  margin-left: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
}