.charContainer {
  display: inline-grid;
  grid-template-columns: 300px 50px 50px;
  grid-gap: 5px;
  background-color: transparent;
  color: #444;
}

.character {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  width: 90%;
}
.loadBtn {
  font-family: cursive;
  width: 10rem;
  height: 35px;
  background: #4ab8e9;
  border-radius: 5px;
  border-color: #4ab8e9;
  font-size: larger;
  font-weight: 900;
  box-shadow: 1px 2px 3px #0b5ed7;
}

.loadBtn:hover {
  font-family: cursive;
  transition: 0.5s;
  width: 10rem;
  color: #c0f5ff;
  height: 35px;
  background: #0b5ed7;
  border-radius: 5px;
  border-color: #0b5ed7;
  font-size: larger;
  font-weight: 900;
  box-shadow: 1px 2px 3px #0b5ed7;
}
.alertNotification {
  box-shadow: 0 0 1rem #410c11;
  border-radius: 25px;
  padding: 10px;
  background-color: #f8d7da;
  color: #842029;
}
.innerContainer{
  background-color: #2D4263;
  width: fit-content;
  border-radius: 15px;
}